div ul {
    list-style-type: none;
    
    padding: 0;
    background-color: rgba(77, 75, 75, 0.801);
    width: 200px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: solid  rgba(77, 75, 75, 0.801) 1px;
    padding-left: 7%;
}

div ul li a {
    display: block;
}

div ul li:hover {
    background-color: rgb(212, 9, 9);
}