@import "variables";
@import "mixins";
header {
    background-color: $bgColorMenu;
}

.container {
    max-width: 800px;
}

.myMenu {
    min-height: $heighMenu;
    background-color: $bgColorMenu;
}

.menuBtn button {
    text-transform: uppercase;
}

.newProduct {
    min-height: 260px;
    background-color: $bgColorNewProduct;
}

.secondFrozen {
    position: absolute;
    top: 52px;
}

.btn-link {
    background-color: $bgYellowSection;
    color: $bgColorNewProduct;
}

.yellowSection {
    background-color: $bgYellowSection;
    min-height: 150px;
}

.itemMenus {
    padding: 30px;
    min-height: 90px;
}

.itemMenus i {
    size: 20px;
}

.contentCentr {
    justify-content: center;
}

.footer {
    background-color: $bgFooter;
    min-height: 180px;
}

.iconsBtn {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border: 1 solid white;
    text-align: center;
    margin: 20px;
}

.myBtn {
    margin: 0;
    padding: 0 7px;
}

.colorIconFAS {
    color: $bgFooter;
}